/* Definition of all the components */
#ui-datepicker-div {
	font-size: 10px;
	z-index:2000;
}

body{
	/*color: white;*/
	/*background-color: #306bac;*/
}

body a {
    color: #4999BF;
    text-decoration: none;
}

#inner-page{

	z-index:1;
	position: absolute;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	/*background-color: #306bac;*/
	width:100%;
	height: 100%;
}


.sign-in-form, .sign-out-form {
	display: inline;
	float: right;
	margin-top: 20px;
	margin-right: 10px;
}

#email-field{
	font-size: 14px;
}
#passwd-field{
	font-size: 14px;
}

#page-title, #page-title a:hover{
	font-size: 28px;
	margin: 20px;
	text-align: center;
	/*background-color: #306bac;
	color: white;*/
}

#logo-image {
	left: 201px;
	top: 16px;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.outer-slide-div{
    margin-left: auto;
    margin-right: auto;
}

.inner-slider-div{
	display: inline-block;
	text-align: center;
	width: 27%;
	margin-top: 30px;
    border: dotted;
    border-radius: 3%;
}

.inner-slider-div img{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-width: 0px;
    border: hidden;
    border-color: transparent;
}

.inner-slider-my-div{
    display: inline-block;
    text-align: center;
    width: 45%;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    border: solid;
	border-color: #4999BF;
}

.inner-slider-my-div img{
    display: inline-block;
}


.outer-recomended-slide-div{
    margin-left: auto;
    margin-right: auto;
}

.inner-recomended-slider-div{
    display: inline-block;
    text-align: center;
    width: 27%;
    margin-top: 30px;
    border: dotted;
    border-radius: 3%;
}

.inner-recomended-slider-div img{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    border-width: 0px;
    border: hidden;
    border-color: transparent;
}

.page-title {
	margin-left: 10px;
	font-size: 40px;
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}

.img-landing-page {
	margin-top: 10px;
}

.footer{
	display: inline;
	padding-bottom: 20px;
}
.footer	div{
	display: inline;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

hr{
	color: #0a9dc7;
	height: 3px;
}

.arrow-icon1 {
	display: inline-block;
	width: 7%;
	vertical-align: top;
	margin-top: 80px;
}
.arrow-icon2{
	display: inline-block;
	width: 7%;
	vertical-align: top;
	margin-top: 80px;
}


.nav li{
	display: inline;
	float: left;
	min-width: 100px;
	text-align: center;
	color: white;
	font-size: 20px;
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	margin-top: -1px;
	margin-left: -1px;
	padding-bottom: -1px;
    min-height: 37px;
}

.nav li a {
	color: white;
}

.nav{
	border-style: solid;
	border-color: #4999BF;
	border-width: 2px;
	height: 50px;
	background-color: #4999BF;
}

.nav li:hover, li:focus, a:hover, a:focus {
	color: #005580;
	background-color: #5373ae;
	text-decoration-color: transparent;
}

#sign-in-button {
	vertical-align: middle;
	width: 24px;
}

#sign-in-button2{
	vertical-align: middle;
	width: 24px;

}

#sign-out-button {
    vertical-align: middle;
    width: 24px;
}

#user-icon {
    vertical-align: middle;
    width: 24px;
}

#planner, #registration, .registration{
	width: 80%;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	padding: 10px;
    color: black;
}

#planner h3, #registration h3, .registration h3 {
	text-align: center;
	color: #000;
    margin-bottom: 20px;
}

#from-date-input-dp{
    width: 206px;
	background-image: url("../icons/calendar.jpg");
	background-position: right center;
	background-position-x: 190px;
	background-repeat: no-repeat;
	background-size: 10%;
}

#to-date-inputdp{
    width: 206px;
	background-image: url("../icons/calendar.jpg");
	background-position: right center;
	background-position-x: 190px;
	background-repeat: no-repeat;
	background-size: 10%;
}

#area-label, #price-label, #vzdalenost-do-label, #druh-vyletu-label,
#adult-count-label, #kids-count-label, #difficulty-label, #student-count-label,
#senior-count-label, #from-date-label, #to-date-label, #email-label, .form-label {
	font-weight: bold;
	color: #000000;
	margin-left: 20px;
	margin-right: 20px;
    width: 100px;
    display: inline-block;
}

.checkbox-outer{
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
}

.checkbox-own {
	color: #000000;
	margin-left: 20px;
	vertical-align: middle;
    font-weight: normal;
}

.button{
	text-align: center;
}

#plan-button{
    background-color: #e30200;
    height: 80px;
    min-width: 200px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
	border-radius: 5px;
}

.fieldset-class{
    border-width: 2px;
    border-color: #000000;
    margin-left: 20px;
}

#search-misto-akci-planner{
    margin-left: 20px;
    text-align: center;
}

.reg-form{
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    display: inline-block;
}

#register-button, #contact-button{
    background-color: #4999BF;
    height: 45px;
    min-width: 150px;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
	border-radius: 5px;
}



#contact-form{
    text-align: center;
}

#contact-text-box{
    width: 350px;
    height: 250px;
}

.contact-form{
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
    width: 120px;
    display: inline-block;
}

.contact-form-input{
    width: 350px;
}

.inner-page{
    margin-left: 50px;
    margin-right: 50px;
}

.invisible {
    display: none;
}

.itinerar-button{
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
    color: white;
    background-color: #4999BF;
    height: 45px;
    min-width: 180px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
	border-radius: 5px;
}

.itiner-button{
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
    color: white;
    background-color: #4999BF;
    min-height: 30px;
    min-width: 100px;
    border: none;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

.itinerar-label{
    font-weight: 600;
    font-size: 16px;
}

.icon-star-itinerary{
    width: 25px;
    vertical-align: middle;
	margin-top: -5px;
}

#text-discussion-itinerary{
    width: 100%;
    height: 150px;
}

#send-discussion{
    text-align: center;
}

#button-bar-detail{
	text-align: right;
}

.button-bar-here{
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: middle;
	color: white;
	background-color: #4999BF;
	height: 50px;
	min-width: 170px;
	border: none;
	font-size: 16px;
	font-weight: 600;
	padding-bottom: 10px;
	padding-top: 10px;
}

.active{
	background-color: #F7B94D;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -150px;
    background-color: #F7B94D;
   /* color: white;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.button-inside{
    text-align: center;
}

.checkbox-group{
    margin-left: 20px;
}

.main_image_detail{
    max-width: 350px;
    float: left;
    margin-right: 25px;
}

.cell-block{
    margin-left: 10px;
}

.cell-block div {
    display: inline-block;
}

.inner-page a{
	/*color: white;*/
	text-decoration: none;
}

#nap10, #nap10 td, #nap20, #nap20 td, #nap91_9, #nap91_9 td{
	border: solid;
	border-color: #4999BF;
}

#globe-img{
	max-width: 30px;
}

.diskuze-prispevek{
	border-color: #4999BF;
	border: solid;
	padding: 10px;
	margin: 10px;
}

.tucny{
	font-weight: 600;
	font-size: large;
}

.small-image{
	max-width: 100px;
}

.main-page-go:hover{
	/*background-color: #306bac;*/
}

.main-page-go{
	/*background-color: #306bac;*/
}

#menui2{
	float: right;
}

.delete-icon{
	width: 30px;
	vertical-align: middle;
}

.modal-window{
	position: absolute;
	background-color: white;
	top:100px;
	color: black;
	border-radius: 10px;
	border-style: solid;
	border-color: #4999BF;
	padding: 10px;
	text-align: center;
	left:0;
	right:0;
	margin:auto;
	width: 500px;
	min-height: 200px;
}

#modal_window_saved{
	text-align: center;
	background-color: white;
	color: black;
	border-style: solid;
	border-color: #4999BF;
	margin-bottom: 5px;

}